<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact the Ruby on Rails Tutorial about the sample app at the
  <a href="https://www.railstutorial.org/contact">contact page</a>.
</p>

<%= link_to "Home", home_page_path %> <%# home_page_path is possible because I named the route in routes. Check page 19 in Rails Guide on Routes. %>